:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  box-sizing: border-box;
  padding:0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* min-width: 320px; */
  min-height: 100vh;
 background: linear-gradient(135deg, #667eea, #764ba2);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding: 20px; */
}

/* Counter Box */
.counter-container {
  background: #fff;
  padding: 30px 20px;
  border-radius: 15px;
  text-align: center;
  max-width: 350px;
  width: 100%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.counter-container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

.count {
  font-size: 3.5rem;
  font-weight: bold;
  color: #4f46e5;
  margin-bottom: 20px;
}

/* Buttons */
.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 10px 18px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
 
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

/* Button Colors */
.decrement {
  background-color: #ef4444;
  color: white;
   border-radius: 50%;
}

.decrement:hover {
  background-color: #dc2626;
}

.reset {
  background-color: #e5e7eb;
  color: #111827;
  border-radius: 5px;
}

.reset:hover {
  background-color: #d1d5db;
}

.increment {
  background-color: #10b981;
  color: white;
   border-radius: 50%;
}

.increment:hover {
  background-color: #059669;
}

/* Responsive */
@media (max-width: 500px) {
  .counter-container {
    padding: 20px;
  }

  .count {
    font-size: 2.5rem;
  }

  button {
    font-size: 1rem;
    padding: 8px 14px;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
